        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        
        .all {
            gap: 10px;
            margin: 0%;
            display: grid;
            grid-template-columns: repeat(3, auto);
            grid-template-rows: repeat(3, auto);
            align-content: center;
            justify-content: space-between;
        }
        
        .main {
            display: flex;
        }
        
        .GardDaniel {
            padding: 0%;
            width: 500px;
            height: 470px;
            background-color: plum;
            color: white;
        }
        
        .daniel {
            display: flex;
            justify-content: space-between;
            align-content: center;
            gap: 200px;
        }
        
        .GardJonathan {
            padding: 0%;
            width: 499px;
            height: 300px;
            background-color: gray;
            color: white;
        }
        
        .GardKira {
            padding: 0%;
            width: 150px;
            height: 1190px;
            background-color: rgb(59, 17, 23);
            color: white;
        }
        
        .GardJeanette {
            padding: 0%;
            background-color: rgb(59, 17, 23);
            color: white;
        }
        
        .GardPatrick {
            padding: 0%;
            background-color: rgb(59, 17, 23);
            color: white;
        }