            body {
                font-family: Arial, Helvetica, sans-serif;
                background-color: rgb(236, 234, 234);
            }
            
            .all {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-auto-rows: auto;
                gap: 20px;
            }
            
            .main {
                display: flex;
                gap: 20px;
            }
            
            .GardDaniel {
                grid-column: 1 /span 2;
                background-color: blueviolet;
                color: white;
            }
            
            .daniel {
                display: flex;
                justify-content: space-between;
                gap: 200px;
            }
            
            .daniel img {
                border-radius: 55px;
            }
            
            .GardJonathan {
                grid-column: 3;
                background-color: gray;
                color: white;
            }
            
            .GardKira {
                grid-column: 4;
                grid-row: 1 / span 2;
                background-color: white;
                color: rgb(33, 26, 67);
            }
            
            .GardJeanette {
                grid-column: 1;
                background-color: white;
                color: rgb(33, 26, 67);
            }
            
            .GardPatrick {
                grid-column: 2 / span 2;
                background-color: rgb(33, 26, 67);
                color: white;
            }
            
            .GardJonathan img {
                border-radius: 55px;
            }
            
            .GardKira img {
                border-radius: 55px;
            }
            
            .GardJeanette img {
                border-radius: 55px;
            }
            
            .GardPatrick img {
                border-radius: 55px;
            }