    body {
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .style {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .offers {
        background-color: blue;
        color: azure;
        border-radius: 17px;
        width: 500px;
        height: 500px;
    }
    
    .here {
        padding: 40px 50px;
        border-radius: 17px;
        display: flex;
        background-color: rgb(119, 114, 114);
        width: 500px;
        height: 400px;
    }
    
    .people {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .now {
        background-color: rgb(240, 230, 230);
        padding: 10%;
        border-radius: 17px;
        width: 500px;
        height: 400px;
    }
    
    .genuinely {
        color: white;
        background-color: rgb(32, 32, 41);
        border-radius: 17px;
    }
    
    .okay {
        padding: 180px;
    }
    
    .one {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .present {
        background-color: bisque;
        border-radius: 17px;
        width: 188px;
        height: 800px;
    }
    
    .A {
        display: flex;
        justify-content: space-between;
    }
    
    .B {
        display: flex;
        justify-content: space-between;
    }
    
    .C {
        display: flex;
        justify-content: space-between;
    }
    
    .D {
        display: flex;
        justify-content: space-between;
    }
    
    .F {
        display: flex;
        justify-content: space-between;
    }