            body {
                font-family: Arial, Helvetica, sans-serif;
                background-color: rgb(236, 234, 234);
            }
            
            .all {
                gap: 10px;
                margin: 0%;
                display: grid;
                grid-template-columns: repeat(3, auto);
                grid-template-rows: repeat(3, auto);
                align-content: center;
                justify-content: space-between;
            }
            
            .main {
                display: flex;
            }
            
            .GardDaniel {
                padding: 0%;
                background-color: blueviolet;
                color: white;
            }
            
            .daniel {
                display: flex;
                justify-content: space-between;
                gap: 200px;
            }
            
            .daniel img {
                border-radius: 55px;
            }
            
            .GardJonathan {
                padding: 0%;
                background-color: gray;
                color: white;
            }
            
            .GardKira {
                padding: 0%;
                background-color: white;
                color: rgb(33, 26, 67);
                height: 100px;
            }
            
            .GardJeanette {
                padding: 0%;
                background-color: white;
                color: rgb(33, 26, 67);
                width: 522px;
            }
            
            .GardPatrick {
                padding: 0%;
                background-color: rgb(33, 26, 67);
                color: white;
                width: 600px;
            }
            
            .GardJonathan img {
                border-radius: 55px;
            }
            
            .GardKira img {
                border-radius: 55px;
            }
            
            .GardJeanette img {
                border-radius: 55px;
            }
            
            .GardPatrick img {
                border-radius: 55px;
            }